<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026394435546-lt9um2rfhjc87de1um2n1jddg9g4alk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026394435546-lt9um2rfhjc87de1um2n1jddg9g4alk9</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyP_zdYEgv75afoXsxcSipKPRMPj7MRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1026394435546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.betterapp</string>
	<key>PROJECT_ID</key>
	<string>better-app-4321</string>
	<key>STORAGE_BUCKET</key>
	<string>better-app-4321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026394435546:ios:5e63714ec243fd3d</string>
	<key>DATABASE_URL</key>
	<string>https://better-app-4321.firebaseio.com</string>
</dict>
</plist>